# URL of the API Server
SITE_URL = "http://example.com/"

# Database 

DB = "localhost"
DB_TABLE = "ticket"
DB_USER = "Username"
DB_PASS = "Password"

# SMTP Server

SMTP_HOST = "smtp.example.com"
SMTP_EMAIL = "ticket@example.com"
SMTP_PASS = "Password"
SMTP_PORT = 465 # Port of the SMTP Server